<link rel="stylesheet" href="/stylesheets/admin/forgotPassword.css">


<div class="forgot-password-container">
    <h1>Forgot password</h1>
    <form action="/admin/forgot-password" method="post">
        <input type="email" name="email" id="email" placeholder="Email" required>
        <button type="submit">Submit</button>
    </form>
</div>