<link rel="stylesheet" href="/stylesheets/admin/newPassword.css">

<div class="New-password-container" id="New-password-container">
    <h1>New Password</h1>
    <p class="error"></p>
    <form id="newPasswordForm">
        <input type="password" name="password" id="password" placeholder="New Password" required>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
        <button type="submit">Submit</button>
    </form>
</div>

<script src="/javascripts/admin/newPassword.js"></script>
