<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/stylesheets/partials/sidebar.css">

<div class="sidebar">
    <ul class="menu">
        <li><a href="/admin/"><span class="material-icons">dashboard</span>Dashboard</a></li>
        <li><a href="/admin/products"><span class="material-icons">shopping_bag</span>Products</a></li>
        <li><a href="/admin/users"><span class="material-icons">people</span>Users</a></li>
        <li><a href="/admin/orders"><span class="material-icons">receipt_long</span>Orders</a></li>
        <li><a href="/admin/categories"><span class="material-icons">category</span>Category</a></li>
        <li><a href="/admin/offers"><span class="material-icons">local_offer</span>Offers</a></li>
        <li><a href="/admin/coupons"><span class="material-icons">card_giftcard</span>Coupons</a></li>
        <li><a href="/admin/banners"><span class="material-icons">photo</span>Banner</a></li>
    </ul>
    <ul class="bottom-menu">
        <li class="reset-password"><a href="/admin/reset-password"><span class="material-icons">lock_reset</span>Reset Password</a></li>
        <li><a href="/admin/logout" class="logout"><span class="material-icons">logout</span>Logout</a></li>
    </ul>
</div>
