<link rel="stylesheet" href="/stylesheets/partials/navbar.css">
<nav class="navbar">
    <div class="navbar-left">
        <div class="nav-title">Polaroids</div>
        <ul class="nav-links">
            <li><a href="/" class="active">Home</a></li>
            {{!-- <li><a href="/">Home</a></li> --}}
            <li><a href="/shop">Shop</a></li>
        </ul>
    </div>
    <div class="nav-icons">
        <div class="search-container">
            <input type="text" class="search-bar" placeholder="Search">
            <img src="/images/icons/Search.svg" alt="Search" class="search-icon">
        </div>
        <a href="/wishlist"><img src="/images/icons/Wishlist.svg" alt="Wishlist" class="icon"></a>
        <a href="/cart"><img src="/images/icons/Cart.svg" alt="Cart" class="icon"></a>
        <a href="/account/profile"><img src="/images/icons/Account.svg" alt="Account" class="icon"></a>
        {{!-- <a href="/account/profile" style="text-decoration: none;"><span class="icon">Samlik</span></a> --}}
    </div>
</nav>
<script src="/javascripts/layouts/navbar.js"></script>