<link rel="stylesheet" href="/stylesheets/partials/sidebar.css">

<div class="sidebar">
    <ul class="menu">
        <li><a href="/admin/">Dashboard</a></li>
        <li><a href="/admin/products">Products</a></li>
        <li><a href="/admin/users">Users</a></li>
        <li><a href="/admin/orders">Orders</a></li>
        <li><a href="/admin/categories">Category</a></li>
        <li><a href="/admin/offers">Offers</a></li>
        <li><a href="/admin/coupons">Coupons</a></li>
        <li><a href="/admin/banners">Banner</a></li>
    </ul>
    <ul class="bottom-menu">
        <li class="reset-password"><a href="/admin/auth/reset-password">Reset Password</a></li>
        <li><a href="/admin/logout" class="logout">
                {{!-- <img src="logout.svg" alt="Logout Icon" class="logout-icon" /> --}}
                Logout
            </a></li>
    </ul>
</div>