<link rel="stylesheet" href="/stylesheets/adminLogin">

    <div class="login-container">
        <h1>Login</h1>
        <form action="/auth/login" method="post">
            <input type="text" id="username" name="username" placeholder="Username" required>
            <input type="password" id="password" name="password" placeholder="password" required>
            <div class="forgot-text">
                <a href="/auth/forgot">Forgot password?</a>
            </div>
            <div class="account-text">
                <span>Don't have an account?</span>
                <a href="/auth/signup">Sign Up</a>
            </div>
            <button type="submit">Submit</button>
        </form>
        <hr>
        <div class="google-login">
            <a href="#" class="google-icon">
                <span>G</span>
            </a>
        </div>
    </div>
