<link rel="stylesheet" href="/stylesheets/adminDashbaord.css">


<div class="container">
    <div class="sidebar">
        <ul class="menu">
            <li><a href="/admin/">Dashboard</a></li>
            <li><a href="/admin/products">Products</a></li>
            <li><a href="/admin/users">Users</a></li>
            <li><a href="#orders">Orders</a></li>
            <li><a href="/admin/categories">Category</a></li>
            <li><a href="#offers">Offers</a></li>
            <li><a href="#coupons">Coupons</a></li>
            <li><a href="#banner">Banner</a></li>
        </ul>
        <ul class="bottom">
            <li><a href="#reset">Reset Password</a></li>
            <li><a href="#logout">Logout</a></li>
        </ul>
    </div>
    <div class="main-content">
        <h1>Dashboard</h1>
        <div class="report">
            <h2>Report</h2>
            <div class="chart">Chart Placeholder</div>
        </div>
        <div class="transaction-history">
            <h2>Transaction History</h2>
            <table>
                <tr>
                    <th>Order Id</th>
                    <th>Product</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>01</td>
                    <td>Sony Alpha 7C II</td>
                    <td>10-12-2024</td>
                    <td>$1,499.00</td>
                    <td class="pending">Pending</td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>Sony Alpha 7C II</td>
                    <td>10-12-2024</td>
                    <td>$1,499.00</td>
                    <td class="canceled">Canceled</td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>Sony Alpha 7C II</td>
                    <td>10-12-2024</td>
                    <td>$1,499.00</td>
                    <td class="success">Success</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="/javascripts/adminDashboard.js"></script>