
<link rel="stylesheet" href="/stylesheets/resetPassword.css">

    <div class="New-password-container">
        <h1>New Password</h1>
        <form action="/auth/resetPassword" method="post">
            <input type="password" name="password" id="password" placeholder="New Password" required>
            <input type="password" name="confirmPassword" id="password" placeholder="Confirm Password" required>
            <button type="submit">Submit</button>
        </form>
    </div>
