<link rel="stylesheet" href="/stylesheets/user/forgot.css">


<div class="forgot-password-container">
    <h1>Forgot password</h1>
     <p class="error">{{error}}</p>
    <form action="/auth/forgot" method="post">
        <input type="email" name="email" id="email" placeholder="Email" required>
        <button type="submit">Submit</button>
    </form>
</div>