<link rel="stylesheet" href="/stylesheets/user/previousPassword.css">

<div class="New-password-container">
    <h1>Previous Password</h1>
    <p class="error"></p>
    <form id="previousPassword-form">
        <input type="password" name="previousPassword" id="previousPassword" placeholder="Previous Password" required>
        <button type="submit">Submit</button>
    </form>
</div>


<script>
    const form = document.getElementById('previousPassword-form')
    form.addEventListener('submit', async (event) => {
        event.preventDefault()
        const password = document.getElementById('previousPassword').value
        try {
            const response = await fetch('/auth/previous-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ password })
            })
            if (!response.ok) {
                const errorData = await response.json()
                errorDisplay(errorData.message)

            } else if (response.ok) {
                window.location.href = 'resetPassword'
            }
        } catch (error) {
            console.log(error, 'error')
        }

    })
    
    function errorDisplay(message) {
        const errorElement = document.querySelector('.error');
        if (errorElement) {
            errorElement.textContent = message;
        } else {
            const newErrorElement = document.createElement('p');
            newErrorElement.classList.add('error');
            newErrorElement.textContent = message;
            document.querySelector('.login-container').prepend(newErrorElement);
        }
    }
</script>