<link rel="stylesheet" href="/stylesheets/user/verify.css">


<div class="verify-container">
    <h1>Verify</h1>
    {{!-- {{#if error}}
    <p class="error">{{error.message}}</p>
    {{/if}} --}}
    <p class="error"></p>
    <form id="otpForm">
        <div class="input-container">
            <input type="text" name="otp" maxlength="1" id="otp1" placeholder="_" required>
            <input type="text" name="otp" maxlength="1" id="otp2" placeholder="_" required>
            <input type="text" name="otp" maxlength="1" id="otp3" placeholder="_" required>
            <input type="text" name="otp" maxlength="1" id="otp4" placeholder="_" required>
        </div>
        <div class="resend-text">
            <p id="timer">00:30</p>
            <a href="/auth/verification" id="resendLink">Resend OTP</a>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>

<script src="/javascripts/user/verify.js"></script>