body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: hidden; /* Prevent scrolling on the entire body */
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 2px 0 5px 0 rgba(0,0,0,0.1);
    position: fixed; /* Keeps sidebar in place */
    height: 100%;
    overflow-y: auto; /* Allows scrolling within the sidebar if needed */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar a {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.sidebar a:hover, .sidebar .active {
    background-color: #ccc;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 220px; /* Adjusted to align with sidebar width */
    overflow-y: auto;
    width: calc(100% - 220px); /* Adjusts width to fill remaining space */
}

.main-content h1 {
    margin-top: 0;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

label {
    font-weight: bold;
}

input[type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}
