body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #E8E8E8;
}

.verify-container {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 100px 50px rgba(25, 25, 25, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 50px;
    font-weight: 900;
    font-size: 2.5em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.input-container {
    display: flex; 
    gap: 10px; 
    margin-bottom: 20px;
}

input {
    box-sizing: border-box;
    padding: 10px;
    height: 60px;
    width: 60px;
    background: rgba(245, 245, 245, 0.96);
    border: 1px solid #CCCCCC;
    border-radius: 12.5px;
    font-size: 1.25em;
    text-align: center; 
}

input::placeholder {
    font-style: normal;
    font-weight: 800;
    color: #191919;
    opacity: 1;
}

.resend-text {
    margin-bottom: 15px;
    font-size: 0.875rem; 
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
}

.resend-text a {
    color: #191919;
    text-decoration: none;
    font-size: 0.875rem;
}

.resend-text a:hover {
    text-decoration: none;
}

button {
    display: flex;
    width: 150px;
    height: 45px;
    justify-content: center;
    align-items: center;
    background: #E00707;
    border-radius: 7.5px;
    color: #E8E8E8;
    font-style: normal;
    font-weight: 800;
    font-size: 1.250em;
    line-height: 24px;
    cursor: pointer;
    border: none;
}

button:hover {
    background: #CC0000;
}
