
.forgot-password-container {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 100px 50px rgba(25, 25, 25, 0.1);
    width: 400px;
    height: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 50px;
    font-weight: 900;
    font-size: 1.75em;
    /* padding-bottom: 30px; */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    box-sizing: border-box;
    padding: 10px;
    padding-left: 20px;    
    margin-bottom: 50px;
    height: 60px;
    width: 90%;
    background: rgba(245, 245, 245, 0.96);
    border: 1px solid #CCCCCC;
    border-radius: 12.5px;
    font-size: 1.25em;
    line-height: 55px;
}

input::placeholder {
    left: 10px;
    font-style: normal;
    font-weight: 800;
    color: #191919;
    opacity: 1;
}

button {
    display: flex;
    width: 150px;
    height: 45px;
    justify-content: center;
    align-items: center;
    background: #E00707;
    border-radius: 7.5px;
    color: #E8E8E8;
    font-style: normal;
    font-weight: 800;
    font-size: 1.250em;
    line-height: 24px;
    cursor: pointer;
    border: none;
}

button:hover {
    background: #CC0000;
}



.error{
    font-size: 1em;
    font-weight: 800;
    color: #E00707;
    /* padding-bottom: 5px; */
}