.nav-links a.active {
    color: red; /* Change the active link color */
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.breadcrumbs {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 10px;
}

.breadcrumbs a {
    color: #A5A5A5;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;
}

/* .header h1 {
    font-weight: 900;
    color: #E00707;
    margin: 0;
} */

.sort-by {
    font-weight: 900;
}

.sort-by a {
    color: #E00707;
    text-decoration: none;
}

.content {
    display: flex;
}

.sidebar {
    width: 20%;
    margin-right: 20px;
}

.sidebar h2 {
    font-weight: 900;
    font-size: 1.75em;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    font-weight: 700;
    padding: 0;
}

.sidebar li {
    margin-bottom: 5px;
    margin-left: 5px;
}

.sidebar a {
    text-decoration: none;
    color: #A5A5A5;
}

.sidebar a:hover {
    text-decoration: underline;
}

.main-content {
    width: 80%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33.333% - 20px);
    height: 425px;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.card-content-wrapper {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    left: 20px;   /* Adjust as needed */
    right: 20px;  /* Adjust as needed */
    text-align: center;
    margin-bottom: 10px;
}

.product-image {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

.wishlist-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #E00707;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 900;
}

/* .card p {
    font-weight: 700;
    margin: 10px 0;
} */

.stock-status {
    display: block;
    color: #7D7D7D;
    font-size: 0.9em;
    font-weight: 900;
    /* margin: 10px 0; */
    text-align: left;
    padding-left: 15px;
}

.rating {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.star {
    color: #FF0000;
    font-size: 1.5em;
    margin: 0 2px;
}

.card h2 {
    font-size: 1.25em;
    font-weight: 900;
    margin: 10px 0;
}

.price {
    font-size: 1em;
    font-weight: 900;
    color: #191919;
    margin: 15px 0;
}

.card button {
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
    transition: ease 0.3s;
}

.card button:hover {
    background-color: #A5A5A5;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.pagination a {
    color: #000000;
    text-decoration: none;
    margin: 0 5px;
    font-weight: 700;
}

.pagination a.active {
    color: #E00707;
}

/* Responsive */
@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .card {
        width: calc(100% - 20px);
    }
}
