.form-container {
    width: 300px;
    margin: 100px auto;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #333;
    box-sizing: border-box;
}

.edit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.edit-button:hover {
    background-color: #c00;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 10px;
    box-sizing: border-box;
    max-height: 90%; /* Limit modal height to prevent overflow */
    overflow-y: auto; /* Allow scrolling only if content exceeds modal height */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.save-button {
    width: 100%;
    padding: 10px;
    background-color: #f00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.save-button:hover {
    background-color: #c00;
}


.referral-container {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.referral-code {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.share-button {
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.share-button:hover {
    background-color: #1DAF57;
}