.wallet-container {
    margin-top: 75px;
    padding: 20px;
    padding-top: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.wallet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.wallet-header h2 {
    margin: 0;
}

.btn-add-funds {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.wallet-balance {
    margin-bottom: 20px;
    font-size: 18px;
}

.wallet-balance p {
    margin: 0;
}

.wallet-transactions {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.wallet-transactions h3 {
    margin-top: 0;
}

#transaction-list {
    list-style-type: none;
    padding: 0;
}

.transaction-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.transaction-item:last-child {
    border-bottom: none;
}

.transaction-date {
    color: #777;
    font-size: 14px;
}

.transaction-description {
    flex-grow: 1;
    margin: 0 10px;
}

.transaction-amount {
    font-weight: bold;
}

.transaction-amount.credit {
    color: #4CAF50; /* Green for credit */
}

.transaction-amount.debit {
    color: #F44336; /* Red for debit */
}
